// Colors

$white: #fff;
$black: #000;

// Font Colors

$nav_link_color: $white;


// Bg Colors

$header_bg: #000;


// Font Sizes

$large_font_size: 30px;
$medium_font_size: 16px; 
$small_font_size: 13px; 


/// $small_font_size: 13px/#{21px};